<!DOCTYPE html>
<html>
<head>
  <title>titre</title>
  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <p>
    HELLO WORLD
  </p>

  <script>

    function send_video(){

      var formData = new FormData();
      formData.append("video", recordedBlob, "mavideo");

      $.ajax({
          type: 'POST',
          url: 'http://localhost:5000/post_video',
          data: formData,
          processData: false,  // prevent jQuery from converting the data
          contentType: false,  // prevent jQuery from overriding content type
          success: function(response) {
              alert(response);
          }
      });

    }


    function get(){
      
      $.ajax({
          type: 'GET',
          url: 'http://localhost:5000/',
          success: function(response) {
              alert(response);
          }
      });

    }

  </script>

</body>
</html>